.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px;

  .buttonClicks {
      color: #ffffff;
      letter-spacing: 1px;
      font-size: 0.4em;
  }

  .homeButton {
    margin: 25px auto;
    width: 75%;
  }

  .homeHeading {
    &:after {
      display: block;
      color: #ffffff;
      letter-spacing: 1px;
      content: "Typescript, React, Webpack, Babel, Redux and Sass, Oh my!";
      font-size: 0.4em;
    }
  }
}