.Home {
  display: flex;
  flex: 1;
  padding: 0 50px;

  h1 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 4em;
    letter-spacing: -4px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);

    &:after {
      display: block;
      color: #ffffff;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      content: "Typescript, React, Webpack, Babel, Redux and Sass, Oh my!";
      font-size: 0.4em;
    }
  }

  .button-clicks {
      color: #ffffff;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.4em;
  }

  .button {
    display: block;
    background: transparent;
    border: 1px solid #fff;
    opacity: 0.8;
    margin: 25px auto;
    padding: 20px 40px;
    width: 75%;
    color: #ffffff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6em;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      opacity: 1;
      background-color: #ffffff;
      color: #a1a1a1;
    }
  }
}
