.ExternalLinkButton {
  display: inline-block;
  background: transparent;
  border: 1px solid #fff;
  opacity: 0.8;
  padding: 0.8em 1.6em;
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.6em;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
    background-color: #ffffff;
    color: #a1a1a1;
  }
}